<!DOCTYPE html>
<html>

<head>
    <title>Simple Table Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        /* Add the following CSS code to your existing styles */

        .product-btn,
        .view-btn,
        .delete-btn,
        .edit-btn {
            padding: 6px 16px; /* Adjust padding for a consistent button size */
            text-decoration: none;
            font-size: 20px;
            color: #fff;
            display: inline-block; /* Make the buttons inline */
            background-color: #8FBC8F; /* Set the background color to green */
            border: none;
            border-radius: 0px;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .product-btn:hover,
        .view-btn:hover,
        .delete-btn:hover,
        .edit-btn:hover {
            background-color: #CBC3E3; /* Change the hover color */
        }

        .sidebar {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 60px;
            left: 0;
            background-color: #868d93;
            overflow-x: hidden;
            padding-top: 20px;
        }
        
        .sidebar a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #f8f9fa;
            display: block;
            background-color: #8FBC8F;
            /* Change to red color */
            border-radius: 0px;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
            /* Add some margin between buttons */
        }
        
        .sidebar a:hover {
            background-color: #CBC3E3;
        }
        
        #main {
            transition: margin-left .5s;
            /* If you want a transition effect */
            padding: 20px;
            margin-left: 200px;
            /* Adjust the margin to the width of the sidebar */
        }
        /* Header */
        
        .header {
            background-color: #333;
            color: #fff;
            position: fixed;
            top: 0;
            width: 100%;
            padding: 10px;
            text-align: center;
            z-index: 2;
            /* Ensure the header is on top */
        }
        
        .btn-primary {
            background-color: #8FBC8F;
            border-color: #8FBC8F;
        }
        
        .btn-primary:hover {
            background-color: #CBC3E3;
            border-color: #CBC3E3;
        }

        /* Add the following CSS code to your existing styles */

    .modal-dialog {
        max-width: 80%;
        margin: 1.75rem auto;
    }

    .modal-content {
        border-radius: 10px;
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-footer {
        border-top: none;
    }

    .modal {
    overflow-y: auto;
}




    </style>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <div class="header">
        <h2>Category</h2>
    </div>

    <br><br><br>

    <div class="sidebar">
        <button type="button" class="product-btn" id="category_id">Add Category</button>
    </div>


<div id="category_modal" class="modal" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content" style="border-radius: 10px;">
            <div class="modal-header">
                <h2 class="modal-title">Add Category</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form id="category_form" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="photo">Upload Photo:</label>
                        <input type="file" id="photo" name="photo" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">Name :</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="p_id">Description:</label>
                        <input type="text" id="desc" name="desc" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="category_id" class="btn btn-success">Done</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    $(document).on('click', '#category_id', function() {
    $("#category_modal").show();
});


$(".close").on("click", function() {
    $("#category_modal").hide();
});

$(document).ready(function(){
    $("#category_form").validate({
        submitHandler: function(form){
                    var name = $('#name').val();
                    var desc = $('#desc').val()
                    var filedata = document.getElementById("photo");
                    const formdata = new FormData();
                    var file = filedata.files[0];
                    formdata.append("json", true);
                    formdata.append("desc", desc)
                    formdata.append("photo", file);
                    formdata.append("name", name);
                    $.ajax({
                        type: "POST",
                        url: "/add_category",
                        data: formdata,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            if (response.success == true) {
                                alert("Form submitted successfully.");
                                window.location.reload();
                            } else {
                                alert("not working ...")
                                alert(response.message);
                            }
                        }
                    });
                }
            })
        })
</script>



    <div class="container" id="main">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name of Category</th>
                    <th>Description</th>
                    <th>Photo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each categories}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.desc}}</td>
                <td><img src="{{this.photo}}" height="100px" width="100px"></td>
                <td>
                <button type="button" class="delete-btn" id="delete_id" data-id="{{this.id}}">Delete</button>
                <button type="button" class="edit-btn" id="edit_id" data-id="{{this.id}}">Edit</button>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

<div id="edit_modal" class="modal" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content" style="border-radius: 10px;">
            <div class="modal-header">
                <h2 class="modal-title">Edit Product</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form id="edit_form" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" id="edit_id" name="edit_id" class="form-control">
                    <div class="form-group">
                        <label for="edit_name">Category's Name:</label>
                        <input type="text" id="edit_name" name="edit_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="edit_desc">Description:</label>
                        <input type="text" id="edit_desc" name="edit_desc" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="edit_photo">Photo:</label>
                        <img src="" id="edit_photo" height="100px" width="100px">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="save_changes_btn" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '#edit_id', function() {
        const id = $(this).data('id');
        $("#edit_modal").show();
        $("#edit_id").val(id);
        $.ajax({
            type:"POST",
            url:"/view_cat_details",
            data:{id},
            success:function(response){

                const name = response.showdata.name
                $("#edit_name").val(name);

                const desc = response.showdata.desc
                $("#edit_desc").val(desc);

                $("#edit_photo").attr("src",response.showdata.photo);
            }
        })
    });

    
    $(".close").on("click", function() {
        $("#edit_modal").hide();
    });
    
    
    
    $(document).ready(function() {
            $("#edit_form").validate({
                submitHandler: function(form) {
                    var id = $('#edit_id').val();
                    var name = $('#edit_name').val();
                    var desc = $('#edit_desc').val();  
                    $.ajax({
                        type: "POST",
                        url: "/post_cat_edit",
                        data: {
                            edit_id:id,
                            edit_name:name,
                            edit_desc:desc
                        },
                        success: function(response)  {
                            if (response.success == true) {
                                alert("Update successfully.");
                                window.location.reload();
                            } else {
                                alert(response.message);
                            }
                        }
                    })
                }
            });
        });
</script>

<script>
    $(document).on('click', '#delete_id', function() {
        const id = $(this).data('id');
       
        $.ajax({
            type: "POST",
            url: "/post_cat_delete", 
            data: { id: id },
            success: function(response) {
                alert(response.message);
                window.location.reload();    
            },
            error: function() {
                alert("An error occurred while deleting the user.");
            }
        });
    });
</script>

</body>

</html>