<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    .header-container {
        background: linear-gradient(135deg, #e0b8ff, #8f70ff);
        border-radius: 10px;
        padding: 10px;
        margin: 20px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .users-heading1 {
        background: linear-gradient(135deg, #6bd1ff, #ffb86b);
        color: #000000;
        padding: 10px;
        text-align: center;
        font-size: 24px;
        border-radius: 5px;
    }

        td img {
            transition: transform 1s ease-in-out;
            border: 5px solid rgba(211, 54, 228, 0.559);
        }

        td img:hover {
            transform: scale(2) perspective(500px) rotateX(20deg);
            border: 5px solid rgba(54, 228, 222, 0.596);
        }

        /* Add 3D effect to buttons */
        .view-btn,
        .add-btn,
        .buy-btn {
            background-color: #48dbfb;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            margin-right: 5px;
            border-radius: 5px;
            transition: transform 0.3s ease-in-out;
        }

        .view-btn:hover,
        .add-btn:hover,
        .buy-btn:hover {
            transform: perspective(500px) scale(1.1);
        }

        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #f3d0c9, #88c9bf);
            margin: 0;
            padding: 0;
        }

        .users-heading1 {
            background-color: #ff6b6b;
            color: #fff;
            padding: 10px;
            text-align: center;
            font-size: 24px;
        }

        .users-heading2 {
            margin: 20px;
            text-align: center;
        }

        .product-btn {
            background-color: #feca57;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }

        .container1 {
            text-align: center;
        }

        .modal {
            background-color: #fff;
            padding: 20px;
            width: 80%;
            max-width: 400px;
            margin: 0 auto;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 600px;
            overflow-y: auto;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            cursor: pointer;
        }

        h2 {
            text-align: center;
            color: #ff6b81;
        }

        .form-group {
            margin: 10px 0;
        }

        label {
            display: block;
            font-weight: bold;
            color: #ff5e57;
        }

        input[type="text"],
        input[type="file"] {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 2px solid #ff6b6b;
            border-radius: 5px;
        }

        .btn-primary {
            background-color: #ff9f43;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
        }

        .container_table {
            margin: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
        }

        th {
            background: linear-gradient(to bottom, #ffcc5c, #ff6b81);
            color: #fff;
            width: max-content;
        }

        tr:nth-child(even) {
            background: linear-gradient(45deg, #ffcc5c, #ff6e54);
        }

        .view-btn,
        .add-btn,
        .buy-btn {
            background-color: #48dbfb;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            margin-right: 5px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Head -->

<div class="header-container">
    <div class="users-heading1">
        Sample Website
        <span class="users-symbol">&lt;/&gt;</span>
    </div>
</div>


    <div id="imageContainer"></div>
    {{!-----------------------------------------------------TABLE----------------------------------------------------------------}}
        <table>
            <tr>
                {{!-- <th>s_id</th>
                <th>p_id</th> --}}
                <th>name</th>
                <th>category</th>
                <th>qty</th>
                <th>photo</th>
                <th>options</th>
            </tr>
            {{#each admins}}
            <tr>
                {{!-- <td>{{this.s_id}}</td>
                <td>{{this.p_id}}</td> --}}
                <td>{{this.name}}</td>
                <td>{{this.category}}</td>
                <td>{{this.qty}}</td>
                <td><img src="{{this.photo}}" height="100px" width="100px"></td>
                <td>
                    <button type="button" id="view_id" class="view-btn" data-id="{{this.id}}">View</button>
                    <button type="button" id="add_id" class="add-btn" data-id="{{this.id}}">Add to Cart</button>
                    <button type="button" id="buy_id" class="buy-btn" data-id="{{this.id}}">Buy Now</button>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>

{{!-------------------------------------------------- V I E W --------------------------}}

<div class="container_edit">
        <div id="view_modal" class="modal" style="display: none">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Update User</h2>
                <form id="view_form" enctype="multipart/form-data">
                    <input type="hidden" id="view_id" name="edit_id" readonly>
                    <div class="form-group">
                        {{!-- <label for="edit_s_id">Seller's ID:</label> --}}
                        <input type="text" id="view_s_id" name="edit_s_id" readonly hidden>
                    </div>
                    <div class="form-group">
                        {{!-- <label for="edit_p_id">Product's ID:</label> --}}
                        <input type="text" id="view_p_id" name="edit_p_id" readonly hidden>
                    </div>
                    <div class="form-group">
                        <label for="edit_name">Product's Name:</label>
                        <input type="text" id="view_name" name="edit_name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="edit_category">Category:</label>
                        <input type="text" id="view_category" name="edit_category" readonly>
                    </div>
                    <div class="form-group">
                        <label for="edit_qty">Quantity:</label>
                        <input type="text" id="view_qty" name="edit_qty" readonly>
                    </div>
                    <div class="form-group">
                        <label for="edit_photo">Photo:</label>
                        <img src="" id="view_photo" height="100px" width="100px">
                    </div>
                </form>
            </div>
        </div>
    </div>



<script>

//-----------------------------------------VIEW------------------------------------------------//

    $(document).on('click', '#view_id', function() {
        const id = $(this).data('id');
        $("#view_modal").show();
        $("#view_id").val(id);
        $.ajax({
            type:"POST",
            url:"/view-details",
            data:{id},
            success:function(response){
                console.log(response)
                const s_id = response.showdata.s_id
                $("#view_s_id").val(s_id);

                const p_id = response.showdata.p_id
                $("#view_p_id").val(p_id);

                const name = response.showdata.name
                $("#view_name").val(name);

                const category = response.showdata.category
                $("#view_category").val(category);

                const qty = response.showdata.qty
                $("#view_qty").val(qty);

                $("#view_photo").attr("src",response.showdata.photo)
            }
        })
    });
    
    $(".close").on("click", function() {
        $("#view_modal").hide();
    });
</script>

<script>

// -----------------------------------------BUY------------------------------------------------//

$(document).on('click', '#buy_id', function() {
    window.location.href = "/user-login";
});

// -----------------------------------------ADD TO CART------------------------------------------------//

$(document).on('click', '#add_id', function() {
    window.location.href = "/user-login";
});

</script>
</body>
</html>